/*RESET PRE-EXISTING STYLES*/
*{
  box-sizing: border-box;
}

html, body{
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #fff;
}

/*END RESETTING STYLES*/

/*START NAVBAR*/

nav{
  width:100%;
  height:10vh;
  margin: 0;
  padding:3vh;
  background-color: #5F5F5F;
  position: fixed;
  text-align: center;
  z-index: 1000;
}
nav li{
  display: inline;
  margin:0 5px;
  padding:3vh 3%;
  list-style-type: none;
  overflow: hidden;
}

nav ul{
  margin: 0;
  padding: 0;
  height: 100%;
}

.nav-sm{
  font-size: 2em;
  text-decoration: none;
  color: #bcbaba;
}
li:hover{
  background-color: #000;
  color:#fff;
}

@media only screen and (min-width: 500px){
  nav{
    height: 5vh;
    margin: 0;
    padding:0;
  }

  nav li{
    margin:0;
    padding:1.5vh 4vw;
  }
}


/*END NAVBAR*/

/*START BANNER*/
header{
  overflow: hidden;
  height: 50%;
  width:100%;
  background-image: url(dna_banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

header p{
  margin: 15vh auto;
  padding: 0;
  text-align: center;
  color: #fff;
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  font-size: 60px;
}
/*END BANNER*/

/*START BANNER SUBTEXT*/
main{
  height: 50;
  width: 100%;
  text-align: center;
}

main p{
  padding: 1% 15%;
  font-size: 1.5em;
}

/*USE ID'S TO SELECT BUTTON*/
#myBtn{
  display: block;
  margin: 20px auto;
  background-color: #0E4C7F;
  color:white;
  font-family: 'Oswald', sans-serif;
  font-size: 2em;
  font-weight: bold;
  width:30%;
  height:100px;
  border-radius: 50px;
}
/*CHANGE BUTTON COLOR ON HOVER*/
#myBtn:hover{
  background-color: #42AED2;
}
/*REMOVE BUTTON SELECTED OUTLINE*/
#myBtn:focus{
  outline:0;
}

/*END BANNER SUBTEXT*/

/*START FLEX/FLOAT IMAGES*/
.gallery{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.gallery-sm{
  padding-left: 1.5%;
  padding-right: 1.5%;
  width:20%;
  height:20%;
}
/*END FLEX/FLOAT IMAGES*/

/*START FOOTER*/
.logo{
  display: flex;
  justify-content: center;
  margin:0;
  padding:0;
}

@media only screen and (min-width: 700px){
  .logo{
    padding: 0;
    margin: 0 auto;
    margin-bottom: 20px;
    width:auto;
    height: auto;
  }
}


footer p{
  border-top: 1px solid #000;
  font-size: 12px;
  text-align: center;
}
/*END FOOTER*/
